/* CSS Document */


body {
	background-color:#C3B59B;
}
div {
	margin: 5px;
	padding: 0.5em;
}
#header {
	height: 100px;
	min-width: 500px;
}
#header, #footer {
	background-color:#7C6E58;
}
#main, #order, #menu {
	background-color:#F4ECDA; 
	clear: both;
}
#order {
	flex:1;
}
#main{
	flex:2;
}
#menu {
	flex:1;
}
#footer {
	color: white;
}
h2 {
	
	color:brown;
}

#logo {
	float: left;
}

#slogan {
	float: right;
}

#container {
	display:flex;
	
	
}
