/* CSS Document */
body {
	background: tan;
	font-family:sans-serif;
}

#content {
	width:70%;
	margin:auto;
	padding: 10px 20px;
}
.price {
	color: darkgreen;
}

h1 {
}	

h2 {
}

p {
	}
#contact {
	text-align: center;
	padding: 40px;
	font-size:150%;
	
}

a:link {
	color: saddlebrown;
	text-decoration: none;
}
a:hover {
	color:#3B7941;
	border-bottom: thin dashed;
}
a:visited {
	color:burlywood;
	text-decoration:none;
}

#test {
	box-sizing: border-box;
	width: 200px;
	padding:10px;
	margin:20px;
	background-color: #C73A3C;
	border: 10px green solid;
}
