/* CSS Document */


@keyframes color {
	from { 
		background-color: indianred;
		left: 90%;
	}
	to{
		background-color: yellow;
		left:10%
	}
}

@keyframes susjos{
	0% { top: 10%;}
	25% { top: 25%;}
	50% {top: 10%;}
	75% {top: 25%;}
	100% { top: 10%;}
}
#patrat {
	height: 100px;
	width: 100px;
	position:absolute;
	top: 10%;
	left: 10%;
	background-color: indianred;
	animation-name: color, susjos;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: linear;
	
}
