/* CSS Document */
body {
height: 3000px;
}

#div1 {
	background-color: blueviolet;
	position:sticky;
	width: 400px;
	height: 100px;
	top:10px;
}

#div2 {
	background-color: coral;
	width: 200px;
	height:50px;
	position:fixed;
	top:10px;
	left:10px
}

#div3 {
	background-color: aqua;
	position: sticky;
	width: 50px;
	height: 50px;
	top: 30px;
	left:30px;
	transition: background-color 5s, width 3s, height 3s, transform 3s;;
	transform: rotate(0deg);
	transition-timing-function:ease;
}
#div3:hover {
	background-color: blue;
	width: 100px;
	height:100px;
	transform: rotate(30deg);
	
}
