/* CSS Document */


.navbar-collapse {
	justify-content: flex-end;
}

.navbar {
	background-color: orange;
}

.navbar-brand, .nav-link{
	color: white;
}
.navbar-brand:hover, .nav-link:hover{
	color:orange;
	background-color: rgb(255, 255, 255, 0.9);
	border-radius: 10%;
}



.welcome {
	position:absolute;
	top:30%;
	left:10%;
}

h1 {
	color:orange;
	padding-top:20px;
	padding-bottom: 15px;
}

.welcome p {
	color: dimgrey;
}

header {
	background-image: url('images/headerback.jpg');
	height: 100vh;
	background-size:cover;
}

.overlay {
	background-color: rgb(255, 255, 255, 0.7);
	width:100%;
	height:100%;
}

.job {
	position:absolute;
	left: 90px;
	bottom:-25px;
}

.me {
	border-radius: 50%;
}

.desc{
	border-left:medium solid darkblue;	
}

.desc h3{
	color:darkblue;
}

.myimg {
	padding-right: 20px;
}

.team_name {
	background-color: orange;
	color:white;
	text-align:center;
	border-top-right-radius: 98%;
	width:270px;
	position: relative;
	bottom:24px;
	transition: 0.8s ease-in-out;
}
.text-muted {
	display: block;
	position:relative;
	bottom:24px;
	padding-left:5px;
}

.team_item:hover .team_name {
	height: 85%;
	border-top-right-radius: 0%;
	background-color: #E27E2480;
	position: absolute;
	vertical-align: middle;
	top:0;
	line-height: 270px;
	
}

.contact input, .contact textarea{
	margin:10px 0 10px 0;
}

.touch {
	display:flex;
	justify-content: center;
	align-items: center;
}
